name: CI

on:
  push:
    branches:
      - main
      - master
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch:
    inputs:
      push:
        description: 'push the Docker image to the registry'
        type: boolean
        required: false
        default: false

permissions:
  contents: read
  packages: write

jobs:
  ci:
    name: CI
    uses: richardmsong/shared-workflows/.github/workflows/ci.yml@main
    with:
      go-version-file: 'go.mod'
      docker-build-target: 'docker-buildx-ci'
    secrets: inherit
